.headertext{
    margin-bottom: 0px;
}

.jumbotron{
    background:url("pic/index/City Landscape_Horizonal_26_dark.png") fixed no-repeat;
    background-size: 100%;
    height: 1920px;
}

.titleh1{
    font-size: 80px;
    color: #dc291e;
}

.titlep{
    font-size: 60px;
    color: white;
}