body{background:url("pic/index/City Landscape_Horizonal_26.jpg") center fixed; background-size: 100%;
}

h1{text-align: center; font-size: 100px;color:#dc291e;font-family: Dimitri;
}
h2{text-align: center; font-size: 60px; color:ghostwhite;font-family: "Dimitri Swank"}